PROJECT_PATH=./Dataset/wsvd-bench/src/main/java/pt/uc/dei/wsvdbench
TEMPLATE_DIR=./src/llm_integration/templates
METHODS_JSON_PATH=./src/java_processing/output/methods_structure.json
OUTPUT_JSON_DIR=./src/java_processing/output
REAL_REVIEW_PATH=./src/classification/output/method_labels.json
VM_PATH=/home/"your_username"
LLM_CHOSEN=1
TEMPLATE_NUMBER=2
TEMPLATE_VERSIONS=5
OPENAI_API_KEY="your_openai_api_key"
VERTEX_API_KEY_PATH="path/to/your/tanzania.json"